@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* Custom Palette Integration */
    --primary: 227 73% 15%; /* #0a1741 */
    --primary-foreground: 84 33% 76%; /* #c6d8af */

    --secondary: 205 18% 24%; /* #313e47 */
    --secondary-foreground: 84 33% 76%;

    --muted: 205 18% 24%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 84 33% 76%; /* #c6d8af */
    --accent-foreground: 227 73% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 227 73% 15%;

    --radius: 1rem;
  }

  .dark {
    --background: 227 73% 15%; /* #0a1741 */
    --foreground: 84 33% 76%; /* #c6d8af */

    --card: 205 18% 24%; /* #313e47 */
    --card-foreground: 84 33% 76%;

    --popover: 227 73% 15%;
    --popover-foreground: 84 33% 76%;

    --primary: 84 33% 76%;
    --primary-foreground: 227 73% 15%;

    --secondary: 205 18% 24%;
    --secondary-foreground: 84 33% 76%;

    --muted: 205 18% 24%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 84 33% 76%;
    --accent-foreground: 227 73% 15%;

    --border: 205 18% 35%;
    --input: 205 18% 35%;
    --ring: 84 33% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground transition-colors duration-500;
  }
}